@media (max-width: 768px) {
    .top-fixed-jordan {
        position: fixed;
        width: 768px;
    }

    .hero-image {
        background-image: url(../img/jordan2.png);
        background-size: contain;
        background-repeat: no-repeat;
        height: 400px;
        width: 768px;
    }

    .about-jordan {
        max-width: 30%;
        left: 50px;
    }

    .itens {
        align-items: flex-start;
        align-items: first start;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-left: -70px;
        gap: 40px 32px;
        padding: 0px;
        width: 704px;
        height: 1081px;

        /*Inside auto layout*/
        flex: none;
        order: 1;
        align-self: center;
        flex-grow: 0;
    }

    .card {
        gap: 24px;
        width: 100%;
    }

    .detalhes {
        text-align: center;
    }

    .product-price {
        font-size: 18px;
        font-weight: bold;
    }

    footer {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 20px;
    }

    footer p {
        text-align: center;
        width: 80%;
    }
}

@media (max-width: 820px) {
    .top-fixed-jordan {
        position: fixed;
        width: 820px;
    }

    .hero-image {
        background-image: url(../img/jordan2.png);
        background-size: contain;
        background-repeat: no-repeat;
        height: 400px;
        width: 820px;
    }

    .about-jordan {
        max-width: 70%;
        left: 30px;
    }

    .section-heading .heading p {
        width: 520px;
        height: 44px;
        font-family: var(--body-font);
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        margin-left: 30px;
        line-height: 140%;
        display: flex;
        align-items: center;
        text-align: center;
        flex: none;
        order: 1;
        align-self: stretch;
        flex-grow: 0;
    }

    .itens {
        align-items: flex-start;
        align-content: flex-start;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: 20px;
        gap: 40px 32px;
        padding: 0px;
        width: 704px;
        height: 1081px;

        /*Inside auto layout*/
        flex: none;
        order: 1;
        align-self: center;
        flex-grow: 0;
    }

    .itens .card {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;

        gap: 24px;
        width: 336px;
        min-width: 336px;
        height: 326px;
    }

    .detalhes {
        text-align: center;
    }

    footer {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 10px;
    }

    footer p {
        text-align: center;
        width: 80%;
    }
}

@media (max-width: 480px) {
    .top-fixed-jordan {
        position: fixed;
        width: 480px;
    }

    .hero-image {
        background-image: url(../img/jordan3.png);
        background-size: cover;
        background-repeat: no-repeat;
        height: 400px;
        max-width: 480px;
    }

    .about-jordan {
        width: 328px;
        height: 168px;
        left: 25px;
        top: calc(50% - 168px/2);

    }

    .about-jordan .logo-jordan {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        gap: 8px;
        width: 142px;
        height: 24px;

        /* Inside auto layout */
        flex: none;
        order: 0;
        flex-grow: 0;
    }

    .about-jordan .logo-jordan .brand-name {
        font-size: 18px;
    }

    .about-jordan .jordan-info .tagline {
        font-size: 24px;
    }

    .about-jordan .jordan-info .jordan-history {
        font-size: 16px;
        line-height: 22px;
        font-weight: 400;
        width: 328px;
        height: 66px;
    }

    .section-heading {


        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 56px 0px 0px 0px;
        gap: 40px;
        padding-top: 56px;
        position: absolute;
        width: 319px;
        height: 2421px;
        left: -240px;
        top: 465px;

    }

    .section-heading .heading {

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;
        width: 319px;
        height: 94px;
        padding: 0px;
        margin-left: -2px;


        /* Inside auto layout */
        flex: none;
        order: 0;
        align-self: center;
        flex-grow: 0;

    }

    .heading h2 {
        font-family: var(--body-font);
        font-size: 20px;
        font-weight: 600;
        line-height: 22px;

    }

    .section-heading .heading p {
        font-size: 14px;
    }

    .itens {

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        padding: 0px;
        gap: 40px;
        position: absolute;
        width: 319px;
        height: 421px;
        left: 430px;
        top: 208px;

        /* Inside auto layout */
        flex: none;
        order: 1;
        align-self: stretch;
        flex-grow: 0;



    }

    .itens .card {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 24px;

        width: 319px;
        height: 326px;


        /* Inside auto layout */
        flex: none;
        order: 0;
        flex-grow: 0
    }

    .detalhes {
        text-align: center;
    }

    footer {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 40px;
        padding: 10px;
    }

    footer p {
        font-size: 10px;
        text-align: center;
        width: 80%;
    }
}